name: Terraform CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'terraform-infrastructure/**'
      - '.github/workflows/terraform.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'terraform-infrastructure/**'
  workflow_dispatch:

